.poster {
  text-align: center;
  width: 50%;
  margin-left: 25%;
  margin-top: 50px;
}

body {
  background-color: black;
}

h1 {
  font-family: "Libre Baskerville", serif;
  color: white;
  text-transform: uppercase;
  text-align: center;
}

img {
  border: 5px solid white;
  width: 100%;
}

p {
  color: white;
  font-size: 1.5em;
  text-align: center;
}
